:root {
    --bg-color: #0f172a;
    --card-bg: #1e293b;
    --primary-color: #2dd4bf;
    --text-white: #f8fafc;
    --text-dim: #94a3b8;
}

body {
    margin: 0;
    font-family: 'Inter', system-ui, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-white);
    line-height: 1.6;
    scroll-behavior: smooth;
}

.container {
    width: 85%;
    max-width: 900px;
    margin: auto;
}

.navbar {
    background: rgba(15, 23, 42, 0.9);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #334155;
    backdrop-filter: blur(10px);
}

.nav-flex {
    display: flex;
    justify-content: center; /* Centered everything */
}

.nav-links { 
    list-style: none; 
    display: flex; 
    align-items: center; 
    margin: 0; 
    padding: 0;
    gap: 40px; 
}

.nav-links a { 
    text-decoration: none; 
    color: var(--text-white); 
    font-weight: 500; 
    font-size: 16px;
}

.contact-btn {
    background-color: var(--primary-color);
    color: #0f172a !important;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
}

.hero { padding: 120px 0 80px; text-align: center; }
.hero h1 { font-size: 54px; margin-bottom: 10px; color: var(--text-white); }
.hero h3 { color: var(--primary-color); font-size: 26px; margin-bottom: 20px; font-weight: 400; }
.hero p { color: var(--text-dim); font-size: 18px; margin-bottom: 30px; }

.btn-main {
    padding: 15px 35px;
    background: var(--primary-color);
    color: #0f172a;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
}


.section { padding: 80px 0; }
.title { 
    text-align: center;
    margin-bottom: 50px; 
    font-size: 32px;
}

.exp-card {
    background: var(--card-bg);
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 25px;
    border: 1px solid #334155;
    transition: 0.3s;
}

.exp-card:hover { transform: translateY(-5px); border-color: var(--primary-color); }

.exp-header { display: flex; justify-content: space-between; margin-bottom: 15px; }
.date { color: var(--primary-color); font-weight: bold; }


.footer {
    background: #020617;
    padding: 60px 0;
    text-align: center;
    border-top: 1px solid #1e293b;
}

.footer p { margin-bottom: 8px; color: var(--text-dim); }